body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

input[type=text], select {
  width: 30em;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea{
  width: 80em;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 20em;
}

input[type=submit] {
  width: 10em;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.ppic{
  position:relative; 
  width:17%; 
  padding-top:24%; 
  margin:1%; 
  border:1px solid grey; 
  float:left;
  background-size: cover;
  position:relative;
  background-position: center;
}

.imgppic{
  width: 35%;
  margin-top:0.5em; 
  margin-right: 1.5em; 
  float: left; 
  border:1px solid grey;
}

p{

  font-size: 1.2em; 
  line-height: 1.5em; 
  font-family: Georgia,"PT Serif",serif; 
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}

  input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

  .ppic{
    position:relative; 
    width:32%; 
    padding-top:40%; 
    margin:1%; 
    border:1px solid grey; 
    float:left;
    background-size: cover;
    position:relative;
    background-position: center;
  }

  .imgppic{
  width: 40%;
  margin-top:0.5em; 
  margin-right: 1.5em; 
  float: left; 
  border:1px solid grey;
}

p{
  width: 100%;
  line-height: 1.7em;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

  input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.ppic{
    position:relative; 
    width:47%; 
    padding-top:60%; 
    margin:1%; 
    border:1px solid grey; 
    float:left;
    background-size: cover;
    position:relative;
    background-position: center;
  }

.imgppic{
  width: 45%;
  margin-top:0.5em; 
  margin-right: 1.5em; 
  float: left; 
  border:1px solid grey;
}

p{
  width: 100%;
  line-height: 1.7em;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


}



