{% extends 'base.html' %}

{% block titulo %}Add New Match{% endblock %}

{% block contenido %}

<article>
    <h4>Add New Item</h4>
     <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Date</label>
        <input type="text" name="fecha" value="{{last_m.fecha|safe}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Phase</label>
          <input type="text" name="fase" value='{{last_m.fase}}' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Local Team</label>
          <select class="form-select mb-3" name="local">
            {% for e in equipos %}
                <option value="{{e.equipoRel.id}}">{{e.equipoRel.nombre}}</option>
            {% endfor %}
          </select>
        </div>

         <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Visit Team</label>
          <select class="form-select mb-3" name="visit">
            {% for e in equipos %}
                <option value="{{e.equipoRel.id}}">{{e.equipoRel.nombre}}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Match</button>
    </form>
</article>


{% endblock %}