{% extends 'base.html' %}

{% block titulo %}Add New MLB Game{% endblock %}

{% block contenido %}

<article>
    <h4>Add New MLB Game</h4>
     <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Date</label>
            <input type="text" name="fecha" value="{% now 'Y-m-d' %}"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Local Team</label>
          <select class="form-select mb-3" name="local">
            {% for c in mlbteams %}
                <option value="{{c.id}}">{{c.nombre}}</option>
            {% endfor %}
          </select>
        </div>        

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Visit Team</label>
          <select class="form-select mb-3" name="visit">
            {% for c in mlbteams %}
                <option value="{{c.id}}">{{c.nombre}}</option>
            {% endfor %}
          </select>
        </div>
       
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Score</label>
            <input type="text" name="score" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Comments</label>
            <textarea name="comments" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">Please report some events here.</textarea>
        </div>

         <button type="submit" class="btn btn-primary">Add Game</button>
    </form>
</article>


{% endblock %}