{% extends 'base.html' %}

{% block titulo %}Add New Collection{% endblock %}

{% block contenido %}

<article>
    <h4>{{col.nombre}} ({{rb}}/{{nb}} | {{por_r}}%) <span style="color:gray;">{{col.cfecha}}</span></h4>
    <hr>
     <form method="POST">
        {% csrf_token %}
      <div class="mb-3">
        <input type="text" name="keyw" style="width: 80%;">
        <button type="submit" style="width: 17%;">Add Item</button>

      </div>
    </form>

    {% if sr %}
        {% for a in sr %}
        <div class="list-group">
          <a href="{% url 'additmcol' a.id col.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0">{{a.item_cat.nombre}} | {{a.titulo}}</h6>
                <p class="mb-0 opacity-75">{{a.card_desc}}</p>
              </div>
              <small class="opacity-50 text-nowrap">{{a.fecha}}</small>
            </div>
          </a>
        </div>
        <br>
        {% endfor %}

    {% endif %}
    <hr>


    {% for i in ci %}

    {% if col.cfecha|safe < i.itm.lastr %}

        {% if i.itm.mainPic %}
           <a href="{% url 'item' i.itm.id %}">
            <div style='position:relative; width:31%; padding-top:45%; margin:1%; border:1px solid grey; float:left;
                background-size: cover;
                position:relative;
                background-position: center;
                background-image:url("{{i.itm.mainPic}}");'>

                 {% if col.cfecha|safe < i.itm.lastr %}
                     <div style="position: absolute; top:5%; left:5%; width:3em; height:3em; ">
                        <img src="/media/assets/gchecked.png" style="width:3em;">
                    </div>
                 {% endif %}

            <div style="position: absolute; bottom:0; left:0; width:100%; height:1.2empx; background-color: rgba(77, 129, 221, 0.92);">
               <span style="color:white; padding: 0px; margin-left: 5px; margin-bottom: 0px; font-weight:bold;">{{i.itm.titulo}} ({{i.itm.pubyear}}) {% if i.itm.id == 1817 %} ({{i.id}}){%endif%}</span>
            </div>
            </div>
            </a>
        {% else %}
           <a href="{% url 'item' i.itm.id %}">
            <div style='position:relative; width:31%; padding-top:45%; margin:1%; border:1px solid grey; float:left;
                background-size: cover;
                position:relative;
                text-align:center;
                background-color: rgba(77, 129, 221, 0.92);'>

                {% if col.cfecha|safe < i.itm.lastr %}
                     <div style="position: absolute; top:5%; left:5%; width:3em; height:3em; ">
                        <img src="/media/assets/gchecked.png" style="width:3em;">
                    </div>
                 {% endif %}


               <div style="position: absolute; top:5%; left:0%; width:100%; text-align:center;">
                <span style="color:white; font-weight:bold; width:100%;">{{i.itm.titulo}} ({{i.itm.pubyear}}) <br> {{i.itm.author}}</span>
                </div>
            </div>
            </a>
        {% endif %}

    {%endif%}



    {% endfor %}

    {% for i in ci %}

    {% if col.cfecha|safe > i.itm.lastr %}

        {% if i.itm.mainPic %}
           <a href="{% url 'item' i.itm.id %}">
            <div style='position:relative; width:31%; padding-top:45%; margin:1%; border:1px solid grey; float:left;
                background-size: cover;
                position:relative;
                background-position: center;
                background-image:url("{{i.itm.mainPic}}");'>

                 {% if col.cfecha|safe < i.itm.lastr %}
                     <div style="position: absolute; top:5%; left:5%; width:3em; height:3em; ">
                        <img src="/media/assets/gchecked.png" style="width:3em;">
                    </div>
                 {% endif %}

            <div style="position: absolute; bottom:0; left:0; width:100%; height:1.2empx; background-color: rgba(77, 129, 221, 0.92);">
               <span style="color:white; padding: 0px; margin-left: 5px; margin-bottom: 0px; font-weight:bold;">{{i.itm.titulo}} ({{i.itm.pubyear}}) {% if i.itm.id == 1817 %} ({{i.id}}){%endif%}</span>
            </div>
            </div>
            </a>
        {% else %}
           <a href="{% url 'item' i.itm.id %}">
            <div style='position:relative; width:31%; padding-top:45%; margin:1%; border:1px solid grey; float:left;
                background-size: cover;
                position:relative;
                text-align:center;
                background-color: rgba(77, 129, 221, 0.92);'>

                {% if col.cfecha|safe < i.itm.lastr %}
                     <div style="position: absolute; top:5%; left:5%; width:3em; height:3em; ">
                        <img src="/media/assets/gchecked.png" style="width:3em;">
                    </div>
                 {% endif %}


               <div style="position: absolute; top:5%; left:0%; width:100%; text-align:center;">
                <span style="color:white; font-weight:bold; width:100%;">{{i.itm.titulo}} ({{i.itm.pubyear}}) <br> {{i.itm.author}}</span>
                </div>
            </div>
            </a>
        {% endif %}

    {%endif%}

    
    
    {% endfor %}

    <div style="clear: both;"></div>
    <hr>
</article>


{% endblock %}


{% block rightbar %}
<br><br>
<h4>Collections</h4>
      <ul class="list-group">

        {% for l in listas %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{% url 'coleccion' l.id %}" style="color:black; text-decoration: none;"> {{l.nombre}}</a>
            <span class="badge bg-primary rounded-pill">{{l.qitems}}</span>
          </li>
        {% endfor %}
      </ul>
{% endblock %}