{% extends 'base.html' %}
{% load static%}



{% block contenido %}
{{badir}}

<script src="{% static 'js/masonry.pkgd.min.js' %}" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>



{% if partidos %}
<h4 style="font-family: sans-serif;">Football Activity</h4>

{% for m in partidos %}

        <div class="col">
            <div class="card">
              <div class="card-header">
                {{m.liga.nombre}} | {{m.fecha}}
              </div>
              <div class="card-body">
                <div style="width:40%; height:30px; float: left;">
                    <img src="{{ m.local.logo.url }}" style="height: 30px;">
                    <div style="float:right;"><h5><a href="{% url 'sccteam' m.local.id %}" style="color: black;text-decoration: none;">{{ m.local.nombre }}</a></h5></div>
                </div>
                <div style="width:20%; height:30px;  float: left; text-align: center; color:blue;"><h5>
                {% if m.terminado == True %}
                {{m.marcador}}
                {% else %}
                &nbsp;-&nbsp;
                {% endif%}
            </h5>
                </div>
                <div style="width:40%; height:30px;  float: left;">
                    <div style="float:left;"><h5><a href="{% url 'sccteam' m.visita.id %}" style="color: black;text-decoration: none;">{{ m.visita.nombre }}</a></h5></div>
                    <img src="{{ m.visita.logo.url }}"  style="height: 30px; float:right;">
                </div>

              </div>
              <div class="card-footer text-muted">
                {{m.fase}} | <a href="{% url 'viewmatch' m.id %}" target="_blank">view</a>

              </div>

            </div>

        </div>
        <br>

        {% endfor %}

<hr>
{% endif %}

{% if nowr %}
<h4 style="font-family: sans-serif;">Started Items!</h4>
{% for n in nowr %}
    <div class="col">
        <div class="card">
          <div class="row g-0">
            <div class="col-md-3" style="height: 250px; width;:100%; background-image:url('{{ n.con_itm.mainPic  }}');
            background-size: cover;
        position:relative;
        background-position: center; border-radius: 0.375rem 0 0 0.375rem ;">


            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" style="font-family:Arial,Helvetica,sans-serif; font-weight: bold;">{{n.con_itm.titulo}} ({{n.con_itm.pubyear}}) {% if n.season > 0 %} - Season {{n.season}}{% endif %}</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{n.progreso.por_av}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text">{{n.con_itm.item_cat.nombre}} | {{n.progreso.progreso}}/{{ n.cantidad}} {{n.unidades}} | {{n.progreso.por_av}}%</p>
                <p></p><form method="POST" action="{% url 'updateProgress' %}">
                    {% csrf_token %}
                    <input type="hidden" name="con_id" value="{{n.id}}">
                    <b>Progreso:</b>&nbsp;<input type="text" name="progreso" style="width:20%;">&nbsp;<b>Fecha:</b>&nbsp;<input type="text" name="r_fecha" value="{% now 'Y-m-d' %}" style="width:30%;">&nbsp;
                    <br><br><input type="submit" value="Save Progress">
                </form>
                </p>
                <p class="card-text"><small class="text-muted">Started on {{n.fecha_inicio}} | <a href="{% url 'item' n.con_itm.id %}" style="text-decoration: none;">Go to item</a></small></p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <br>
    {%endfor %}
    <hr>
{% endif %}



<div style="clear: both;"></div>
<hr>
<div class="row" data-masonry='{"percentPosition": true }'>
{% for a in articles %}
<div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        {% if a.mainPic %}
        <img class="bd-placeholder-img card-img-top" width="100%" src="{{a.mainPic}}">
        {%endif%}
        <div class="card-body">
          <h5 class="card-title"><a href='{% url "item" a.id  %}' style="text-decoration: none;">{{a.titulo}}</a></h5>
          <p class="card-text">{{a.short_desc|safe}}</p>
        </div>
      </div>
       </div>
{% endfor %}
</div>



<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

    {% for np in npages %}
    <li class="page-item {% if np == 0 %}active{% endif %}"><a class="page-link" href="{% url 'archive' np %}">{{np}}</a></li>
    {% endfor %}

  </ul>
</nav>

{% endblock %}


{% block rightbar %}
<br><br>
<h4>Collections</h4>
      <ul class="list-group">

        {% for l in listas %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{% url 'coleccion' l.id  %}" style="color:black; text-decoration: none;"> {{l.nombre}}</a>
            <span class="badge bg-primary rounded-pill">{{l.qitems}}</span>
          </li>
        {% endfor %}
      </ul>

<br>
<h4>Authors</h4>
      <ul class="list-group">

        {% for a in autores %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{% url 'view-persona' a.persona__id %}" style="color:black; text-decoration: none;"> {{a.persona__nombre}}</a>
            <span class="badge bg-primary rounded-pill">{{a.qlibros}}</span>
          </li>
        {% endfor %}
      </ul>

      <br>
      <br>


{% endblock %}