{% extends 'base.html' %}

{% block titulo %}{{ppl.nombre}}{% endblock %}

{% block contenido %}

<article>
   {%if ppl.mainPic%}
  <img src="{{ppl.mainPic}}" style="border:1px solid grey; float:left; width:30%; margin-right: 16px; margin-bottom: 16px;">
  {% endif %}
  <h4><a href="{% url 'edit-persona' ppl.id %}" style="text-decoration: none; color:black;">{{ppl.nombre}}{% if n_items > 0 %} ({{conteo_r}}/{{n_items}}) {%endif%}</a></h4>
 {{ppl.biographics|linebreaks}}
 <br>

 <div style="clear:both"></div>

  {% if nowItems %}
  <hr>
    <h5>{{ ppl.nombre }}'s Items</h5>

    {% for itm in nowItems %}


      <a href="{% url 'item' itm.item.id %}">
            <div style='position:relative; width:31%; padding-top:45%; margin:1%; border:1px solid grey; float:left;
                background-size: cover;
                position:relative;
                background-position: center;
                background-image:url("{{itm.item.mainPic}}");'>

                 {% if itm.item.ncon > 0 %}
                     <div style="position: absolute; top:5%; left:5%; width:3em; height:3em; ">
                        <img src="/media/assets/gchecked.png" style="width:3em;">
                    </div>
                 {% endif %}

            <div style="position: absolute; bottom:0; left:0; width:100%; height:1.2empx; background-color: rgba(77, 129, 221, 0.92);">
               <span style="color:white; padding: 0px; margin-left: 5px; margin-bottom: 0px; font-weight:bold;">{{itm.item.titulo}} ({{itm.item.pubyear}}) {% if itm.id == 1817 %} ({{itm.id}}){%endif%}</span>
            </div>
            </div>
            </a>
    {% endfor %}
  {% endif %}
</article>




{% endblock %}


{% block rightbar %}
<br><br>

    <h4>Authors</h4>
      <ul class="list-group">

        {% for a in autores %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{% url 'view-persona' a.persona__id %}" style="color:black; text-decoration: none;"> {{a.persona__nombre}}</a>
            <span class="badge bg-primary rounded-pill">{{a.qlibros}}</span>
          </li>
        {% endfor %}
      </ul>

      <br>
      <br>

{% endblock %}