{% load static %}
<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'css/dira_style.css' %}" rel="stylesheet">
<title>Movie Import</title>
</head>
<body>

<div class="sidebar">
  <a class="active" href="{% url 'plantilla' %}">Home</a>
  <a href="{% url 'view-ppl' 'wiki' 0 %}">Personas</a>
  <a href="{% url 'view-ppl' 'personaje' 0 %}">Characters</a>
</div>

<div class="content">
  <p>{{str_titulo}}
    <p>{{str_director}}
  <p>{{str_overview}}
  <p>{{str_premiere}}
  <p>{{str_poster}}
  <p>{{str_cast}}
</div>

</body>
</html>
