{% extends 'base.html' %}

{% block titulo %}Add New Item{% endblock %}

{% block contenido %}

<article>
    <h4>Pitching</h4>
    <h5> {{game.local.nombre}} - {{game.visit.nombre}}</h5>

     <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Local Team</label>
          <select class="form-select mb-3" name="contract">
            {% if c_local %}
            {% for c in c_local %}
                <option value="{{c.id}}">{{c.bPlayer.nombre}} @ {{c.bTeam.nombre}}</option>
            {% endfor %}
            {% endif %}
            {% if c_visit %}
            {% for c in c_visit %}
                <option value="{{c.id}}">{{c.bPlayer.nombre}} @ {{c.bTeam.nombre}}</option>
            {% endfor %}
            {% endif %}
          </select>
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">IP</label>
            <input type="text" name="ip"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">H</label>
            <input type="text" name="h"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">CL</label>
            <input type="text" name="cl"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">BB</label>
            <input type="text" name="bb"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">P</label>
            <input type="text" name="p"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>



         <button type="submit" class="btn btn-primary">Add New Item</button>
    </form>
</article>


{% endblock %}